.sign-up
  = render "shared/header"

  .sign-up__header
    .sign-up__header__title
      ユーザー情報入力
    = render "devise/shared/links"

  .sign-up__main
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .field-email
        .field-email__label
          = f.label :メールアドレス
          .require
            必須
          = f.email_field :email, {class:'user-input', autofocus: true, required: "required", placeholder: 'PC・携帯どちらでも可'}

      .field-password
        .field-password__label
          = f.label :パスワード
          .require
            必須
          = f.password_field :password, {class:'user-input', autocomplete: "new-password", required: "required", placeholder: '英数字7文字以上'}

      .field-password_confirmation
        .field-password_confirmation__label
          = f.label :パスワード再入力
          .require
            必須
          = f.password_field :password_confirmation, {class:'user-input', autocomplete: "new-password", required: "required", placeholder: 'パスワード再入力'}
      
      .field-nickname
        .field-nickname__label
          = f.label :ニックネーム
          .require
            必須
          = f.text_field :nickname, {class:'user-input', required: "required", placeholder: '例) まーたろー'}
      
      .field-sex
        .field-sex__label
          = f.label :性別
          .require
            必須
          .field-sex__label__select
            = f.collection_select :sex_id, Sex.all, :id, :sex, {prompt: "選択して下さい"}, {class:'user-selec', required: "required"}

      .actions
        = f.submit '登録する', class: 'sign-up-btn'