.top
  = render "shared/header"

  .top__header
    .top__header__titl
      %p 女性が作ってもらいたい料理と、男性が作ってあげたい料理ってびっくりするくらい違うんです。
      %p そんな食い違いを解消しませんか？
      %p 男性諸君！女性に喜ばれる料理を作ろうじゃないか！！

      = link_to 'ログアウト', destroy_user_session_path, method: :delete
      = link_to 'ログイン画面へ', new_user_session_path, class: 'sign-up-link'
      = link_to '投稿する', new_recipe_path, class: 'new_recipe-link'
      - if user_signed_in?
        = link_to 'マイページへ', user_path(current_user), class: 'new_recipe-link'

    .top__header__search
      = form_with url: 'root' do |f|
        = f.label :text, {class: 'top__header__search__label'} do
          = f.text_field :text, placeholder: '', class: 'top__header__search__label__form'
          %i.fas.fa-search
        = f.submit '探す', class: 'top__header__search__submit'

    .top__header__categories
      %p 食材選択
      .top__header__categories__box
        - @category_parent.each do |parent|
          = link_to "#{parent.name}", list_by_category_recipe_url(parent.id),class: 'top__header__categories__box__list'
  
  .top__main
    .top__main__woman
      女性が作ってほしい料理
    .top__main__easy
      簡単
    .top__main__recipes
      - if @woman_easy.blank?
        .top__main__recipes__none
          教えてもらったレシピはありません
      - else
        - @woman_easy.reverse_each do |recipe|
          .top__main__recipes__contents
            .top__main__recipes__contents__title
              = recipe.title
            .top__main__recipes__contents__image
              = link_to recipe_path(recipe) do
                = image_tag(recipe.image.url, width: '100%', height: '100%', alt: 'メイン画像')
            .top__main__recipes__contents__text
              = recipe.text
       
    .top__main__luxury
      難しい
    .top__main__recipes
      - if @woman_luxury.blank?
        .top__main__recipes__none
          教えてもらったレシピはありません
      - else
        - @woman_luxury.reverse_each do |recipe|
          .top__main__recipes__contents
            .top__main__recipes__contents__title
              = recipe.title
            .top__main__recipes__contents__image
              = link_to recipe_path(recipe) do
                = image_tag(recipe.image.url, width: '100%', height: '100%', alt: 'メイン画像')
            .top__main__recipes__contents__text
              = recipe.text

    .top__main__man
      男性が作ってあげたい料理
    .top__main__easy
      簡単
    .top__main__recipes
      - if @man_easy.blank?
        .top__main__recipes__none
          教えてもらったレシピはありません
      - else
        - @man_easy.reverse_each do |recipe|
          .top__main__recipes__contents
            .top__main__recipes__contents__title
              = recipe.title
            .top__main__recipes__contents__image
              = link_to recipe_path(recipe) do
                = image_tag(recipe.image.url, width: '100%', height: '100%', alt: 'メイン画像')
            .top__main__recipes__contents__text
              = recipe.text
        
    .top__main__luxury
      難しい
    .top__main__recipes
      - if @man_luxury.blank?
        .top__main__recipes__none
          教えてもらったレシピはありません
      - else
        - @man_luxury.reverse_each do |recipe|
          .top__main__recipes__contents
            .top__main__recipes__contents__title
              = recipe.title
            .top__main__recipes__contents__image
              = link_to recipe_path(recipe) do
                = image_tag(recipe.image.url, width: '100%', height: '100%', alt: 'メイン画像')
            .top__main__recipes__contents__text
              = recipe.text

