.new
  = render "shared/header"

  .new__header
    .new__header__title
      レシピを教えてください

  .new__main
    = form_with model: @recipe do |f|
      .new__main__top
        .new__main__top__category
          = f.label :category_id, {class: 'new__main__top__category__label'} do
            .new__main__top__category__input
              #{@purpose}
        .new__main__top__category
          = f.label :category_id, {class: 'new__main__top__category__label'} do
            = f.collection_select :category_id, @category_parent, :id, :name, {prompt: '食材'},{ class: 'new__main__top__category__input', required: "required"}
            %i.fas.fa-chevron-down
        .new__main__top__category
          = f.label :category_id, {class: 'new__main__top__category__label'} do
            = f.collection_select :category_id, @category_children, :id, :name, {prompt: 'カテゴリー'},{ class: 'new__main__top__category__input', required: "required"}
            %i.fas.fa-chevron-down
            -# JSにて実装予定
        .new__main__top__category
          = f.label :category_id, {class: 'new__main__top__category__label'} do
            = f.collection_select :category_id, @category_grandchildren, :id, :name, {prompt: '調理法'},{ class: 'new__main__top__category__input', required: "required"}
            %i.fas.fa-chevron-down
            -# JSにて実装予定

      .new__main__title
        = f.text_field :title, {class:'new__main__title__input', required: "required", placeholder: 'レシピ名'}
        .new__main__title__difficulty
          = f.label :category_id, {class: 'new__main__title__difficulty__label'} do
            = f.collection_select :difficulty_id, Difficulty.all, :id, :difficulty, {prompt: '難易度'},{ class: 'new__main__title__difficulty__input', required: "required"}
            %i.fas.fa-chevron-down

      .new__main__upper-half
        .new__main__upper-half__left
          = f.label :image, {class: 'new__main__upper-half__left__label'} do
            = f.file_field :image, {class: 'new__main__upper-half__left__label__input', required: "required", placeholder: '画像を選んでください'}
            %pre
              %i.fas.fa-camera.fa-lg
              クリックして画像を選んでください

        .new__main__upper-half__right
          .new__main__upper-half__right__text
            = f.text_area :text, {class: 'new__main__upper-half__right__text__input', required: "required",rows: '５', maxlength: '100', placeholder: 'レシピの紹介文'}

          .new__main__upper-half__right__title
            材料
          = f.fields_for :ingredients do |i|
            .new__main__upper-half__right__ingredients
              .new__main__upper-half__right__ingredients__name
                = i.text_field :ingredient, {class:'new__main__upper-half__right__ingredients__name__input', required: "required", placeholder: '材料名'}
              .new__main__upper-half__right__ingredients__quantity
                = i.text_field :quantity, {class:'new__main__upper-half__right__ingredients__name__input', required: "required", placeholder: '分量'}


          = f.fields_for :ingredients do |i|
            .new__main__upper-half__right__ingredients
              .new__main__upper-half__right__ingredients__name
                = i.text_field :ingredient, {class:'new__main__upper-half__right__ingredients__name__input', required: "required", placeholder: '材料名'}
              .new__main__upper-half__right__ingredients__quantity
                = i.text_field :quantity, {class:'new__main__upper-half__right__ingredients__name__input', required: "required", placeholder: '分量'}


          %button{type: 'button', class: 'new__main__upper-half__right__btn'} 追加する

      .new__main__maked
        作り方
      .new__main__makedbox
        = f.fields_for :makeds do |m|
          .new__main__makedbox__init
            .new__main__makedbox__init__image
              = m.label :image, {class: 'new__main__makedbox__init__image__label'} do
                = m.file_field :image, {class:'new__main__makedbox__init__image__label__input', placeholder: '画像を選んでください'}
                %pre
                  %i.fas.fa-camera.fa-lg
                  画像を選んでください
            .new__main__makedbox__init__text
              = m.text_area :text, {class:'new__main__makedbox__init__text__input', placeholder: '作り方を入力してください'}


        = f.fields_for :makeds do |m|
          .new__main__makedbox__init
            .new__main__makedbox__init__image
              = m.label :image, {class: 'new__main__makedbox__init__image__label'} do
                = m.file_field :image, {class:'new__main__makedbox__init__image__label__input', placeholder: '画像を選んでください'}
                %pre
                  %i.fas.fa-camera.fa-lg
                  画像を選んでください
            .new__main__makedbox__init__text
              = m.text_area :text, {class:'new__main__makedbox__init__text__input', placeholder: '作り方を入力してください'}



        %button{type: 'button', class: 'new__main__makedbox__init__btn'} 追加する

      .new__main__point
        = f.text_area :point, {class: 'new__main__point__input', maxlength: '150', placeholder: 'コツ、ポイント'}

      .new__main__submit
        = f.submit '投稿する', {class: 'new__main__submit__btn'}
        = link_to 'もどる', root_path, class: 'new__main__submit__return'