%h2.mypage__row__sidebar__top
  マイページメニュー
%ul.mypage__row__sidebar__list
  %li.mypage__row__sidebar__list__item
    = link_to "マイページ", edit_user_path(current_user.id)
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      お知らせ
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      やることリスト
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      いいね!一覧
  %li.mypage__row__sidebar__list__item
    = link_to new_item_path do
      出品する
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      出品した商品-出品中
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      出品した商品-取引中
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      出品した商品-売却済
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      購入した商品-取引中
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      購入した商品-過去の取引
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      ニュース一覧
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      評価一覧
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      ガイド
  %li.mypage__row__sidebar__list__item
    = link_to '/cards' do
      クレジット登録
  %li.mypage__row__sidebar__list__item
    -if @card.present?
      = link_to "クレジット変更（削除）", card_user_path(current_user.id)
    - else
      = link_to "クレジット変更（削除）", nocard_user_path(current_user.id)
  %li.mypage__row__sidebar__list__item
    = link_to "ログアウト", logout_user_path(current_user.id)
  %li.mypage__row__sidebar__list__item
    = link_to '#' do
      お問い合わせ